# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/venv


# production
/build


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env
.env.*
!.env.example
/backend/__pycache__
.venv
.vscode
.nvmrc